dash                      2.3.0                    pypi_0    pypi
dash-core-components      2.0.0                    pypi_0    pypi
dash-html-components      2.0.0                    pypi_0    pypi
dash-table                5.0.0                    pypi_0    pypi
filelock                  3.0.12                     py_0
flake8                    3.8.3                      py_0
flask                     1.1.2                      py_0
flask-compress            1.11                     pypi_0    
matplotlib                3.2.2                         0
matplotlib-base           3.2.2            py38h64f37c6_0
numba                     0.50.1           py38h47e9c7a_0
numexpr                   2.7.1            py38h25d0782_0
numpy                     1.18.5           py38h6530119_0
numpy-base                1.18.5           py38hc3f5095_0
numpydoc                  1.1.0                      py_0
pandas                    1.0.5            py38h47e9c7a_0
plotly                    5.1.0                    pypi_0    pypi
pluggy                    0.13.1                   py38_0
python                    3.8.3                he1778fa_2
python-dateutil           2.8.1                      py_0
python-docx               0.8.11                   pypi_0    pypi
python-jsonrpc-server     0.3.4                      py_1
python-language-server    0.34.1                   py38_0
python-libarchive-c       2.9                        py_0
spyder                    4.1.4                    py38_0
spyder-kernels            1.9.2                    py38_0
